set -e
DIR=`pwd`

if [ -f "../.envrc" ]; then
source_up
fi

export RUSTFLAGS='--cfg reqwest_unstable -C target-feature=+aes' 

bin=$DIR/.direnv/bin
PATH_add $bin
bun_i .

if [ ! -f "alive_plugin/Cargo.toml" ]; then
./plugin.coffee
fi

. env.sh
