@require './fade.styl'

.ing
  position relative

  &:before
    animation-duration 1s
    animation-name fadeIn
    background var(--svgWait) 50% 50% / 64px no-repeat rgba(255, 255, 255, 0.6)
    bottom 0
    content ''
    cursor wait
    left 0
    position absolute
    right 0
    top 0
    z-index 999
