focus-color = #07f
a-color = #03a
hover-color = #00f
checked-color = #390
btn-hover-color = #fff
btn-bg-img = linear-gradient(45deg, #f50 0, #e63 40%, #900 100%)
logo-bg = linear-gradient(0, #f30 0, #E58B38 100%)
auth-btn-color = #e50
btn-hover-filter = invert(42%) sepia(1) saturate(47)
btn-hover = #f40
